<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>AngularJS: Cart example</title>
  <script type='text/javascript' src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js'></script>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="script.js"></script>
</head>

<body data-ng-app="productList">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Brand</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="">Page 1</a>
          </li>
          <li><a href="">Page 2</a>
          </li>
          <li><a href="">Page 3</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <p class="lead">Shop Name</p>
        <div class="list-group">
          <a href="#" class="list-group-item active">Category 1</a>
          <a href="#" class="list-group-item">Category 2</a>
          <a href="#" class="list-group-item">Category 3</a>
        </div>
      </div>
      <div class="col-md-9">
        <div class="panel panel-info">
          <div class="panel-heading">
            <div class="panel-title">
              <div class="row">
                <div class="col-xs-6">
                  <h5><span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart</h5>
                </div>
                <div class="col-xs-6">
                  <button type="button" class="btn btn-primary btn-sm btn-block">
                    <span class="glyphicon glyphicon-share-alt"></span> Continue shopping
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <div class="row"></div>
            <div data-ng-controller="productController">
              <form action="/productlists" method="POST"ng-submit="expression" class="addproduct">
                <input type="text" name="name" data-ng-model="newproduct.name" placeholder="Product" />
                <input type="text" name="desc" data-ng-model="newproduct.desc" placeholder="Description " class="desc" />
                <input name="price" data-ng-model="newproduct.price" placeholder="Price" type="number" min="0.00" step="0.01" />
                <input name="qty" data-ng-model="newproduct.qty" placeholder="Quantity" type="number" min="0" />
                <input type="hidden" data-ng-model="newproduct.id" />
                <input type="button" value="Add" data-ng-click="addproduct()" class="btn btn-primary" />
              </form>

              <div data-ng-repeat="(key, product) in products" id="list">
                <div class="jumbotron">
                  <div class="container">
                    <div class="col-sm-6">
                      <h3>{{ product.name }}</h3>{{ product.desc }}</div>
                    <div class="col-sm-4">{{ product.price * product.qty }}
                      <h6>({{ product.price }}  x  {{ product.qty }})</h6></div>
                    <div class="col-sm-2">
                      <a href="#" data-ng-click="delete(product.id)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                    </div>
                  </div>
                </div>
              </div >
            </div>
            <div class="row"></div>
          </div>
        </div>
      </div>
		</div>
	</div>
      <div class="container">
        <hr>
        <!-- Footer -->
        <footer>
          <div class="row">
            <div class="col-lg-12">
              <p>Copyright &copy; Your Website 2015</p>
            </div>
          </div>
        </footer>
      </div>
</body>

</html>
