<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>AngularJS: Cart example</title>
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.0/angular.min.js'></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="script.js"></script>
  </head>
  <body ng:app>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Brand</a>
        </div>
        
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="">Page 1</a>
          </li>
          <li><a href="">Page 2</a>
        </li>
        <li><a href="">Page 3</a>
      </li>
    </ul>
    </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p class="lead">Shop Name</p>
                <div class="list-group">
                    <a href="#" class="list-group-item active">Category 1</a>
                    <a href="#" class="list-group-item">Category 2</a>
                    <a href="#" class="list-group-item">Category 3</a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <div class="row">
                                <div class="col-xs-6">
                                    <h5><span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart</h5>
                                </div>
                                <div class="col-xs-6">
                                    <button type="button" class="btn btn-primary btn-sm btn-block">
                                    <span class="glyphicon glyphicon-share-alt"></span> Continue shopping
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row"></div>
                        <div ng:controller="CartForm" class="table-responsive">
                          <table class="table table-condensed table-striped  table-hover no-margin">
                            <tr>
                              <th>Description</th>
                              <th>Qty</th>
                              <th>Cost</th>
                              <th>Total</th>
                              <th></th>
                            </tr>
                            <tr ng:repeat="item in invoice.items">
                              <td><input type="text" ng:model="item.description"class="input-small"></td>
                              <td><input type="number" ng:model="item.qty" ng:required class="input-mini"></td>
                              <td><input type="number" ng:model="item.cost" ng:required class="input-mini"></td>
                              <td>{{item.qty * item.cost | currency}}</td>
                              <td>
                                [<a href ng:click="removeItem($index)">X</a>]
                              </td>
                            </tr>
                            <tr>
                              <td><a href ng:click="addItem()" class="btn btn-success btn-block">add item</a></td>
                              <td></td>
                              <td>Total:</td>
                              <td>{{total() | currency}}</td>
                            </tr>
                          </table>
                        </div>
                        <div class="row"></div>
                        
                </div>
            </div>
        </div>
        <div class="container">
            <hr>
            <!-- Footer -->
            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <p>Copyright &copy; Your Website 2015</p>
                    </div>
                </div>
            </footer>
        </div>
        
</body>
</html>